html, body {
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

section {
  padding: 60px 0;
}

@media (max-width: 768px) {
  section {
    padding: 40px 15px;
  }
}
html {
  scroll-behavior: smooth;
}


.services-scroll {
  display: flex;
  gap: 30px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  padding-bottom: 10px;
}

.service-item {
  min-width: 280px;
  scroll-snap-align: start;
}

@media (max-width: 768px) {
  .arch-image {
    width: 240px;
    height: 280px;
  }
}
